@import '~antd/dist/antd.css';

.app-container {
    .app-header {
        background: #fff;
        box-shadow: 0 2px 8px #f0f1f2;
        .header-right {
            // search box
            #search-box {
                float: left;
                .search-icon {
                    color: #a3b1bf;
                }
                .search-input {
                    border: 0;
                    width: 200px;
                    box-shadow: none;
                    background: transparent;
                    &::placeholder {
                        color: #a3b1bf;
                      }
                }
            }
            // navbar box
            .header-nav {
                float: right;
            }
            // userinfo box
            .header-userInfo {
                float: right;
            }
        }
    }

    .app-content {
        background: #fff;
        .app-main {
            height: calc(100vh - 64px);
            overflow: auto;
            padding: 0 10px;
        }
    }

    .app-sidebar {
        border-right: 1px solid #ebedf0;
        height: calc(100vh - 64px - 40px);
        text-align: center;
        color: rgba(0, 0, 0, 0.65);
        overflow-y: auto;
        .avatar {
          width: 132px;
          height: 132px;
          border-radius: 50%;
        }
        .title {
          font-size: 1.5em;
          font-weight: 700;
          margin-top: 10px;
        }
        .sub-title {
          font-size: 13px;
          margin-top: 5px;
          margin-bottom: 5px;
          color: rgba(0, 0, 0, 0.65);
        }
    
        .home-pages {
          padding: 0;
          width: 214px;
          line-height: 24px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          .homepage-icon {
            width: 16px;
            height: 16px;
            font-size: 16px;
          }
          li {
            display: flex;
            align-items: center;
            padding: 0 8px;
            cursor: pointer;
            a {
              vertical-align: top;
              padding-left: 5px;
              color: inherit;
            }
          }
          li:hover {
            border-radius: 4px;
            background: #eee;
          }
        }
    
        .article-list {
          text-align: left;
          li {
            padding: 0 27px;
            a {
              display: block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 14px;
              line-height: 32px;
              color: #8590a6;
              cursor: pointer;
            }
            &:hover {
              background: #f0f2f5;
              a {
                color: #40a9ff;
              }
            }
          }
        }
    
        .tag-list {
          overflow: hidden;
          .ant-tag {
            margin-bottom: 6px;
          }
          a {
            color: inherit;
          }
        }
      }
}
