.app-home-list-item {
  position: relative;
  border: 1px solid #ebedf0;
  padding: 16px 24px;
  margin-bottom: 20px;
  border-radius: 10px;

  &:hover {
    background: #effbff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -5px 0);
  }

  .title {
    display: inline-block;
    margin-bottom: 20px;
    color: #394d69;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    cursor: pointer;
    &:hover {
      color: #48b2ff;
    }
  }

  .content {
    max-height: 250px;
    overflow: hidden;
    cursor: pointer;
  }

  ul.list-item-others {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #4e5969;
    li {
        display: flex;
        align-items: center;
        margin-right: 20px;
        span {
            margin-left: 5px;
        }
    }
  }
}

.app-pagination {
    float: right;
}